@import url('https://fonts.googleapis.com/css2?family=Brygada+1918:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --b: #292820;
  --w: #F9F8F1;
  --t: #F2EBD5;
  --r: #541212;
  --y: #FADE3C;
  --yl: #EDE1A1;
}

html {
  scroll-behavior: smooth;
  max-width: 100%;
  overflow-x: hidden;
 }

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
}

body {
  margin: 0;
  background-color: var(--r);
}

p {
  font-family: 'Brygada 1918', serif;
  font-weight: 400;
  line-height: 150%;
  font-size: 14px;
  color: var(--b);
  padding: 0px 15px 20px 25px;
}

.captcha {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  color: var(--w);
  font-size: 16px;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 45px;
  color: var(--y);
  line-height: 150%;
  padding: 20px 15px 5px 25px;
  text-align: center;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 35px;
  color: var(--b);
  padding: 20px 15px 5px 25px;
  text-align: left;
}

.ytext {
  color: var(--y);
}

.button {
  font-family: 'Montserrat', sans-serif;
  line-height: 50px;
  font-weight: 600;
  color: var(--b);
  padding: 12px;
  background-color: var(--y);
  border-radius: 7px;
  text-align: center;
  text-decoration: none;
  transition: .3s;
}

.button:hover {
  background-color: var(--yl);
  color: var(--r);
  cursor: pointer;
}

.reverse {
  background-color: transparent;
  border: var(--y) solid 3px;
  color: var(--y);
  transition: .3s;
}

.reverse:hover {
  background-color: transparent;
  border-color: var(--yl);
  color: var(--yl);
  cursor: pointer;
}

/** Navigation Sillies **/
.navigation {
    background: var(--r);
    text-align: center;
    position: fixed;
    width: 100%;
    z-index: 999;
    min-height: 7.5rem;
  }

  .logo {
  margin-top: 1em;
  padding: 20px;
  height: 100px;
  }

.nav-toggle {
    display: none;
  }
  
  .nav-toggle-label {
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 1em;
    height: 100%;
    display: flex;
    align-items: center;
  }
  
  .nav-toggle-label span {
    color: var(--yl);
    font-size: 1.5em;
  }
  
  nav {
    position: absolute;
    text-align: right;
    top: 100%;
    right: 0;
    background: var(--r);
    width: 100%;
    transform: scale(1,0);
    transform-origin: top;
    transition: transform 400ms ease-in-out;
  }
  
  nav ul {
    margin: 0;
    padding: 15px;
    list-style: none;
  }
  
  nav li {
    margin-bottom: 1em;
    margin-left: 1em;
  }
  
  nav a {
    color: var(--y);
    text-decoration: none;
    font-size: 1.2rem;
    opacity: 0;
    transition: opacity 150ms ease-in-out;
  }
  
  nav a:hover {
    color: var(--yl);
  }
  
  .nav-toggle:checked ~ nav {
     transform: scale(1,1);
  }
  
  .nav-toggle:checked ~ nav a {
    opacity: 1;
    transition: opacity 250ms ease-in-out 250ms;
  }

  .message {
    background: var(--nav);
    min-height: 7.5rem;
    width: 100%;
  }
  
  .sc {
    color: var(--w);
    text-align: center;
  }

/** End Navigation Sillies **/

.hero {
  height: 60vh;
  width: 100%;
  background-image: url(images/Section/Hero.png);
  background-repeat: none;
  background-size: cover;
  background-position: right;
}

.heroboxa {
  display: none;
}

.hhero {
  color: var(--w);
  text-align: left;
}

.phero {
  color: var(--w);
  font-weight: bold;
}

/** Section Sillies **/

.section {
  background-color: var(--w);
}

.beige {
   background-color: var(--t);
}

.secImg {
  width: 100%;
}

.contentType, .content2, .contentType2, .rcards, .rcard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.camp, .imgBox {
  width: 60vw;
  padding: 0;
  margin: 0;
  display: block;
  margin-bottom: 20px;
}

.imgBox {
  background-color: var(--r);
}

.camp {
  transition: .3s;
}

.camp:hover {
  opacity: .5;
  cursor: pointer;
}

.bpad {
  padding-bottom: 20px;
}

.rcard {
  background: var(--w);
  width: 80vw;
  margin-bottom: 30px;
}

.rrr {
  width: 80vw;
}

.hcenter {
  text-align: center;
}

.rr {
  padding-left: 50px;
  padding-right: 50px;
}

/** Footer Time **/

footer, .f1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.foot {
  font-style: italic;
  font-weight: 200;
  color: var(--y);
  padding: 5px;
}

.f1, .f2 {
  padding: 10px;
}

@media screen and (min-width: 850px) {
  
    /** Navigation Sillies **/
    .nav-toggle-label {
      display: none;
    }
    
  .navigation {
      display: grid;
      grid-template-columns: 1fr auto minmax(600px, 6fr) 1fr;
    }
    
    .logo {
      grid-column: 2/8;
    }

    nav {
        all:unset;
        grid-column: 2/4;
        display: flex;
        justify-content: flex-end;
        align-items: center;
      }
      
      nav ul {
        display: flex;
        justify-content: flex-end;
      }
      
      nav li {
        margin-left: 3em;
        margin-bottom: 0;
      }
      
      nav a {
        opacity: 1;
        position: relative;
      }
      
      nav a::before {
        content:"";
        display: block;
        height: 2px;
        background: var(--y);
        position: absolute;
        top: 1.5em;
        left: 0;
        right: 0;
        transform: scale(0,.5);
        transform-origin: center;
        transition: transform ease-in-out 300ms;
      }
      
      nav a:hover::before {
        transform: scale(1,.5);
      }

      /* Navigation Sillies End */

      .hero {
        position: relative;
        height: 70vh;
      }

      .heroboxb {
        display: none;
      }

      .heroboxa {
        display: block;
        position: absolute;
        background-color: rgba(84, 18, 18, .5);
        width: 45vw;
        bottom: 0;
        left: 0;
      }

      .phero, .hhero {
        padding-left: 50px;
      }

      .phero {
        padding-bottom: 30px;
      }

      .hhero {
        padding-bottom: 0;
      }

      /** Section Sillies **/

      .sectionHead {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 20px 0 20px 0;
      }

      .type {
        width: 60vw;
      }

      .secImg {
        width: 30vw;
      }

      .card, .content {
        display: flex;
        align-items: center;
        justify-content:center;
      }

      .flexr {
        flex-direction: row-reverse;
      }

      .contentType {
        width: 30vw;
      }

      .card {
        padding: 50px 0 50px 0;
      }

      .imgGallery {
        display: flex;
        justify-content: space-around;
        padding-bottom: 20px;
      }

      .space  {
        width: 2vw;
      }

      .camp, .imgBox {
        width: 20vw;
        margin-bottom: 0;
      }


}